<mdb-navbar SideClass="navbar navbar-light blue-grey lighten-4">
  <mdb-navbar-brand>
    <span class="navbar-brand">Miarmagramm</span>
    <img [src]="{{loggedUser.avatar}}" alt="Mi foto">
    <button (click)="redirectToLogin()">Salir</button>
  </mdb-navbar-brand>
</mdb-navbar>

<div fxFlexFill fxLayout="row">
    <!--Lista de personas-->
    <div fxFlex="20" style="background-color: darkcyan;">
        <h1 style="margin: 10px;">Lista de usuarios: </h1>

        <!-- 
            <ul style="list-style: none;">
                <app-user-item *ngFor="let user of listaUsuarios; let i = index" [userInput]='user'></app-user-item>           
            </ul>
         -->
         
    </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let element"> {{element.avatar}} </td>
    </ng-container>
  
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Nombre de usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <!-- Fullname Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container>
  
    <div *ngIf="isAdmin = true">
      <!-- isAdmin Column -->
      <ng-container matColumnDef="isAdmin">
        <th mat-header-cell *matHeaderCellDef> Admin </th>
        <td mat-cell *matCellDef="let element">
        <mat-slide-toggle 
          [(ngModel)]="element.isAdmin"
          (change)="changeAdmin($event)">
        </mat-slide-toggle>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

